@import url("bootstrap-icons.css");
@font-face {
   font-family: 'Inter-Bold';
   src: url('//am708403.blob.core.windows.net/images/optionpi/fonts/Inter-Bold.eot?#iefix') format('embedded-opentype'), url('//am708403.blob.core.windows.net/images/optionpi/fonts/Inter-Bold.woff') format('woff'), url('//am708403.blob.core.windows.net/images/optionpi/fonts/Inter-Bold.ttf') format('truetype'), url('//am708403.blob.core.windows.net/images/optionpi/fonts/Inter-Bold.svg#Inter-Bold') format('svg');
   font-weight: normal;
   font-style: normal;
   font-display: swap;
}
@font-face {
   font-family: 'Inter-Light';
   src: url('//am708403.blob.core.windows.net/images/optionpi/fonts/Inter-Light.eot?#iefix') format('embedded-opentype'), url('//am708403.blob.core.windows.net/images/optionpi/fonts/Inter-Light.woff') format('woff'), url('//am708403.blob.core.windows.net/images/optionpi/fonts/Inter-Light.ttf') format('truetype'), url('//am708403.blob.core.windows.net/images/optionpi/fonts/Inter-Light.svg#Inter-Light') format('svg');
   font-weight: normal;
   font-style: normal;
   font-display: swap;
}
@font-face {
   font-family: 'Inter-Medium';
   src: url('//am708403.blob.core.windows.net/images/optionpi/fonts/Inter-Medium.eot?#iefix') format('embedded-opentype'), url('//am708403.blob.core.windows.net/images/optionpi/fonts/Inter-Medium.woff') format('woff'), url('//am708403.blob.core.windows.net/images/optionpi/fonts/Inter-Medium.ttf') format('truetype'), url('//am708403.blob.core.windows.net/images/optionpi/fonts/Inter-Medium.svg#Inter-Medium') format('svg');
   font-weight: normal;
   font-style: normal;
   font-display: swap;
}
@font-face {
   font-family: 'Inter-Regular';
   src: url('//am708403.blob.core.windows.net/images/optionpi/fonts/Inter-Regular.eot?#iefix') format('embedded-opentype'), url('//am708403.blob.core.windows.net/images/optionpi/fonts/Inter-Regular.woff') format('woff'), url('//am708403.blob.core.windows.net/images/optionpi/fonts/Inter-Regular.ttf') format('truetype'), url('//am708403.blob.core.windows.net/images/optionpi/fonts/Inter-Regular.svg#Inter-Regular') format('svg');
   font-weight: normal;
   font-style: normal;
   font-display: swap;
}

:root {
   --font-regular: 'Inter-Regular', sans-serif;
   --font-light: 'Inter-Light', sans-serif;
   --font-medium: 'Inter-Medium', sans-serif;
   --font-bold: 'Inter-Bold', sans-serif;
   --main-color: #4776ad;
}

body {
   font-family: var(--font-regular);
   overflow-x: hidden;
   /*padding-top: 162px;*/
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

a {
   color: inherit;
   text-decoration: none;
}

a {
   /*color: #2f0802;*/
}

h1,
h2,
h3,
h4 {
   color: #000000;
}

*:focus {
   outline: none !important;
   box-shadow: none !important;
}

button:focus {
   outline: none;
}

button {
   border: 0;
}

ol,
ul {
   padding-left: 0;
}

ol,
ul,
dl {
   margin-top: 0;
   margin-bottom: 0;
}

ul li {
   list-style: none;
   color: inherit;
}

img {
   max-width: 100%;
}

a:hover {
   -webkit-transition: all .3s ease 0s;
   -moz-transition: all .3s ease 0s;
   -ms-transition: all .3s ease 0s;
   -o-transition: all .3s ease 0s;
   text-decoration: none;
}


/*================================MOBILE MENU START================================*/

.c-hamburger--htx,
.c-hamburger--htx.is-active,
.c-hamburger--htx.is-active span {
   background: none;
}

.bg-color {
   background-color: #22376a;
   color: #fff;
}

.c-hamburger span {
   display: block;
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   height: 1px;
   background:  #B39256;
}

.c-hamburger--htx span {
   -webkit-transition: background 0s .3s;
   transition: background 0s .3s;
}

.c-hamburger span::after,
.c-hamburger span::before {
   position: absolute;
   display: block;
   left: 0;
   width: 100%;
   height: 1px;
   background-color:  #B39256;
   content: "";
}

.c-hamburger span::before {
   top: -8px;
}

.menu-icon {
    position: relative;
    width: 24px;
    right: 0;
    top: 0;
}
.menu-icon-analytic{
   position: relative;
   width: 24px;
   
   
}
.menu-icon-analytic-body{
   display:none;
}

.c-hamburger--htx span::after,
.c-hamburger--htx span::before {
   -webkit-transition-duration: .3s, .3s;
   transition-duration: .3s, .3s;
   -webkit-transition-delay: .3s, 0s;
   transition-delay: .3s, 0s;
}

.c-hamburger--htx span::before {
   -webkit-transition-property: top, -webkit-transform;
   transition-property: top, transform;
}

.c-hamburger span::after {
   bottom: -8px;
}

.c-hamburger--htx span::after {
   -webkit-transition-property: bottom, -webkit-transform;
   transition-property: bottom, transform;
}

header.transparent-header .c-hamburger--htx.is-active span {
   background: 0 0;
}

.c-hamburger--htx.is-active span::before {
   top: 0;
   -webkit-transform: rotate(45deg);
   -moz-transform: rotate(45deg);
   -ms-transform: rotate(45deg);
   transform: rotate(45deg);
}

.c-hamburger--htx.is-active span::after,
.c-hamburger--htx.is-active span::before {
   -webkit-transition-delay: 0s, .3s;
   -moz-transition-delay: 0s, .3s;
   -ms-transition-delay: 0s, .3s;
   transition-delay: 0s, .3s;
}

header.transparent-header .c-hamburger span,
header.transparent-header .c-hamburger span::after,
header.transparent-header .c-hamburger span::before {
   background: #fff;
}

.c-hamburger.c-hamburger--htx.is-active span::after {
   bottom: 0;
}

.c-hamburger--htx.is-active span::after {
   bottom: 0;
   -webkit-transform: rotate(-45deg);
   -moz-transform: rotate(-45deg);
   -ms-transform: rotate(-45deg);
   transform: rotate(-45deg);
}

.menu-icon {
   display: none;
}

@media only screen and (max-width: 900px) {
   .c-hamburger {
      display: block;
   }
}
.content-wrapper {
    transition: all 0.5s ease 0s;
    -webkit-transition: all 0.5s ease 0s;
    /*-webkit-transform: translate(0%, 0);*/
    /*transform: translate(0%, 0);*/
    /*-webkit-transform: translateX(0%);*/
    /*transform: translateX(0%);*/
}
.navigation {
   color: #fff;
   position: fixed;
   width: 80%;
   height: 100%;
   display: block;
   position: fixed;
   position: absolute;
   top: 0;
   left: -83%;
   top: 0px;
   margin: 0;
   border: 0;
   border-radius: 0;
   overflow-y: auto;
   overflow-x: hidden;
   height: 100%;
   padding: 55px;
   background-color: #B39256;
   visibility: visible;
   transition: all 0.5s ease 0s;
   -webkit-transition: all 0.5s ease 0s;
   box-shadow: 0 0 10px 0 rgb(50 50 50 / 75%);
   z-index: 999;
   padding: 60px 15px 35px;
}

@media (max-width: 900px) {
   .modal-backdrop {
      display: none;
   }
   .content-wrapper {
      /* z-index: 800; */
      position: relative;
      width: 100%;
      height: 100%;
      overflow-y: auto;
      overflow-x: hidden !important;
   }
   .sticky-header {
      top: -1px;
   }
}
@media screen and (max-width:768px) {
   .menu-icon-analytic-body{
      position:absolute;
      width: 44px;
      height: 44px;
      border: 1px solid #E1E6EF;
      border-radius: 8px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      right:10px;
      top:0;
   }
   .DashboardTab.analytic-modal{
      display:block !important;
   }
   .DashboardTab.analytic-modal li{
      margin:15px;
      display:flex;
      justify-content: center;
   }
   .analytic-position{
      height: 0px;
   }
   .analytic-position.active{
      height: auto;
      transition: all ease 1s;
   }
}

.navigation.visible {
   left: 0;
}

.opacity {
   position: fixed;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   transition: all 0.5s ease 0s;
   -webkit-transition: all 0.5s ease 0s;
   -webkit-transform: translate(80%, 0);
   transform: translate(80%, 0);
}

.menu-header ul li,
.menu-header ul li a {
   display: block;
   color: #ffffff;
   font-size: 20px;
   font-weight: 600;
   line-height: 36px;
   text-align: left;
   text-transform: capitalize;
   margin-right: 30px;
   position: relative;
   width: 100%;
   letter-spacing: 1px;
}

span.ion-ios-close-empty {
   color: #fff;
}

span.title-mo-menu {
   display: block;
   color: #ffffff;
   font-size: 24px;
   font-weight: 600;
   line-height: 36px;
   text-align: left;
   text-transform: uppercase;
   margin-right: 30px;
   position: relative;
   width: 100%;
   margin-bottom: 18px;
   margin-top: 15px;
}

.menu-header>ul>li>a:not(:only-child):after {
   content: '\f3d3';
   font-family: 'Ionicons';
   font-size: 20px;
   margin-left: 9px;
   font-weight: bold;
   float: right;
}

.menu-header ul li a:hover {
   color: #f1aa28;
}

.menu-header ul.sub-menu {
   position: relative;
   left: 0;
   right: 0;
   transform: none;
   width: 100%;
   transition: 0s ease out;
   margin-bottom: 15px;
   box-shadow: none;
   display: none;
}

li.active a::after {
   transform: rotate(90deg);
}

.menu-header ul.sub-menu li a {
   padding: 5px 15px;
   font-size: 17px;
   border-left: 1px solid;
}

.menu-header>ul>li>a.active:after {
   transform: rotate(90deg);
}

.mobile-menu {
   position: absolute;
   right: 16px;
   font-size: 55px;
   top: 10px;
}

.lock-scroll {
   position: fixed;
   overflow: hidden;
}

.place-order-strategy-input{
   border: 1px solid #D0D5DD !important;
   background: #FFFFFF!important;
   border-radius: 8px!important;
   box-shadow: 0px 1px 2px rgb(16 24 40 / 5%)!important;
   padding: 10px 14px!important;
   white-space: nowrap!important;
   font-size: 14px!important;
   line-height: 16px!important;
   color: rgba(29, 36, 51, 0.8)!important;
   font-family: 'Inter-Medium', sans-serif!important;
   display: inline-block!important;
   max-width: 3.9em;
   text-align: center;
}
/*================================MOBILE MENU END================================*/
.menu-header .toChild:after {content: '\f3d3';font-family: 'Ionicons';font-size: 17px;margin-left: 9px;font-weight: bold;float: right;}
span.toChild {position: absolute;display: block;right: 0;width: 20px;z-index: 9999;}
span.toChild.active::after {transform: rotate(90deg);}
span.toChild.active::after {transform: rotate(90deg);}