.maintenance{
  margin: auto;
  width: 400px;
  height: 200px;
  text-align: center;
  font-size: 10px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.page-preloader {
  /* background: #6bad03;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 99999999 */
  background: transparent;
  /* position: relative;
  left: 0;
  top: 0;
  width: 200px;
  height: 200px;
  z-index: 99999999;
  margin: auto auto; */
  position: sticky;
  top: 50%;
  left: 50%;
}

.page-preloader .logo-spinner {
  width: 45px;
  height: 45px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
  animation: sk-rotateplane 1.2s infinite ease-in-out
}

.page-preloader .logo-spinner svg {
  width: 100%;
  height: auto
}

.page-preloader .spinner {
  margin: auto;
  width: 65px;
  height: 40px;
  text-align: center;
  font-size: 10px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0
}

.page-preloader .spinner .rec-spinner {
  background-color: #B39256;
  height: 100%;
  width: 6px;
  display: inline-block;
  margin: 0 1px;
  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out
}

.page-preloader .spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s
}

.page-preloader .spinner .rect3 {
  -webkit-animation-delay: -1s;
  animation-delay: -1s
}

.page-preloader .spinner .rect4 {
  -webkit-animation-delay: -.9s;
  animation-delay: -.9s
}

.page-preloader .spinner .rect5 {
  -webkit-animation-delay: -.8s;
  animation-delay: -.8s
}

@-webkit-keyframes sk-stretchdelay {

  0%,
  100%,
  40% {
      -webkit-transform: scaleY(.4)
  }

  20% {
      -webkit-transform: scaleY(1)
  }
}

@keyframes sk-stretchdelay {

  0%,
  100%,
  40% {
      transform: scaleY(.4);
      -webkit-transform: scaleY(.4)
  }

  20% {
      transform: scaleY(1);
      -webkit-transform: scaleY(1)
  }
}

@-webkit-keyframes sk-rotateplane {
  0% {
      -webkit-transform: perspective(120px)
  }

  50% {
      -webkit-transform: perspective(120px) rotateY(180deg)
  }

  100% {
      -webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg)
  }
}

@keyframes sk-rotateplane {
  0% {
      transform: perspective(120px) rotateX(0) rotateY(0);
      -webkit-transform: perspective(120px) rotateX(0) rotateY(0)
  }

  50% {
      transform: perspective(120px) rotateX(-180.1deg) rotateY(0);
      -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0)
  }

  100% {
      transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
      -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg)
  }
}